{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/stil1.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="brisanje">
        <p><b>Jeste li sigurni da zelite izbrisati {{item}} ?</b></p>
        <form action="{% url 'delete_player' item.id %}" method="POST">
            {% csrf_token %}
            <a href="{% url 'players' %}">Cancel</a>
            <input type="submit" name="YES">
        </form>
    </div>
</body>
</html>