{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grbavica settlement</title>
    <link rel="stylesheet" href="{% static 'css/stadion.css' %}">
</head>
<body>
    <div class="full-container">
        <h2>Naselje Grbavica</h2><hr>
        <div class="sec2">
            
            <div class="sec2-text1">
                <p>Grbavica je sarajevsko naselje u opštini Novo Sarajevo. Sastoji se od dva naselja, Grbavica 1 i Grbavica 2.</p>
                <h2>Ime naselja</h2><hr>
                <p>Naselje Grbavica je dobilo ime po Mehmed begu Mehmedpašiću- Grbavici, koji je bio blizak prijatelj vezira Hećim Oglua Alipaše.</p>
                <h2>Historija</h2><hr>
                <p>Grbavica je naselje sa leve strane reke Miljacke. U odnosu na stari deo, jezgro grada Sarajeva, Grbavica je bila moderni deo grada, u kome je u periodu pedesetih-šezdesetih godina posle Drugog svetskog rata izgrađeno puno novih stambenih zgrada, škola, prodavnica. Svojevremeno je to zaista bio vrlo savremeno uređeni deo grada u kome je bilo puno stanovnika različitih nacionalnosti. U periodu od 1992. do 1995. bila u sastavu Srpskog Sarajeva, da bi se nakon potpisivanja Dejtonskog sporazuma kada je pripala Federaciji BiH, čitavo stanovništvo Grbavice u proljeće 1996. raselilo po Republici Srpskoj i šire. U Grbavici su vođene intezivne ulične borbe tokom opsade Sarajeva. Film Grbavica je režijska interpretacija događaja koji su se desili u gradu za vrijeme rata. Po ovom dijelu Sarajeva ime je dobio i dio Novog Sada, jer su za gradnju stanova u tom dijelu Novog Sada korišćeni gotovi građevinski planovi kao dio saradnje Sarajeva i Novog Sada.</p>
                <h2>Sport</h2><hr>
                <p>Na Grbavici se nalazi stadion Grbavica, na kom svoje utakmice igra FK Željezničar. </p>
                <p>Na Grbavici se nalazi dvorana "Goran Čengić", u kojoj svoje utakmice igra KK Spars Sarajevo</p>
                <br>
                <p>Neke od slika naselja i stadiona mozete pogledati u <a href="{% url 'galerija' %}">GALERIJI</a></p>

            </div>
            
        </div>

    </div>
</body>
</html>