{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Welcome page</title>
    <style>
        ::placeholder{color: lightgreen;}
    </style>
</head>
<body>
    <div class="body1"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Sarajevo<br><span>finest</span></div>
    </div>
    <br>
    <form class="login" method="POST">
        {% csrf_token %}
        <input type="text" id="username" placeholder="username" name="user" ><br>
        <input type="password" id="pass" placeholder="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <script>
        var username =document.getElementById("username").placeholder.style.color="yellow";
        var pass =document.getElementById("pass").placeholder.style.color="yellow";
       

    </script>
</body>
</html>