{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stadion Grbavica</title>
    <link rel="stylesheet" href="{% static 'css/stadion.css' %}">
</head>
<body>
    <div class="full-container">
        <h2>Stadion Grbavica</h2><hr>
        <p><b>Stadion Grbavica</b> nogometni je stadion u Sarajevu, u Bosni i Hercegovini.</p>
        <p>Ime je dobio po sarajevskom naselju <b>Grbavici</b>, u kojem se i nalazi. Izgrađen je 1953. godine, za potrebe nogometnog kluba <b>Željezničar</b>. Među navijačima FK Željezničara ovaj je stadion poznat i pod nadimkom <i>Dolina ćupova</i>.</p>
    
    
        <h2>Historija</h2><hr>
        <p>Radovi na izgradnji stadiona započeli su 1949., a pokrenuli su ih članovi Radničkog sportskog društva Željezničar. Radovi su trajali do 13. rujna 1953., kada je stadion otvoren, utakmicom Druge lige SFRJ - Zapad. Na toj utakmici igrali su FK Željezničar i NK Šibenik. Utakmica je završila pobjedom Željezničara, rezultatom 4:1.<br>
        Nakon izgradnje 1953., stadion Grbavica imao je samo jednu pravu tribinu (zapadnu), koja je prenesena sa stadiona "6. april" s Marijin dvora.Tada je stadion imao i atletsku stazu, koja je uklonjena tijekom rekonstrukcije stadiona od 1968. do 1976. godine.<br>
        U kompleksu, u kojem se nalazi ovaj stadion, još su i dva pomoćna igrališta na kojima svoje treninge održavaju prvotimci Željezničara i mlađe kategorije kluba. U sklopu zapadne tribine stadiona nalaze se klupske prostorije Željezničara.</p>
        <h2>Obnavljanja i rekonstrukcije</h2><hr>
        
            
            
                <p>Prva veća obnova stadiona počela je 30. lipnja 1968., kada je zatvoren. Ta prva obnova završena je 25. travnja 1976., kada je Željezničar ponovno počeo svoje domaće utakmice igrati na ovom stadionu.

                Tijekom srpske opsade Sarajeva (1992. – 1996.) Grbavica se nalazila na samoj liniji te je pretrpjela velika oštećenja. Drvena, zapadna, tribina je zapaljena, a dio stadiona bio je miniran. S reintegracijom Grbavice u sastav Sarajeva Sportsko društvo Željezničar izvršilo je obnavljanje cjelokupnog stadiona i okolnih pomoćnih igrališta i izgradnju drvene tribine na zapadu. Stadion je tada imao oko 20.000 mjesta od čega 500 sa stolicama na zapadnoj tribini.
                    
                Treća obnova stadiona dogodila se u ljeto 2004. godine kada su u potpunosti obnovljene svlačionice i postavljene stolice na sjevernoj i južnoj tribini smanjujući tako ukupni kapacitet stadiona na 12.000 mjesta, od čega 9.135 sjedećih. Zbog UEFA-inih kriterija istočna tribina bi bila zatvorena.
                    
                Najznačajnija obnova dogodila se početkom 2017. kada je na mjestu stare izgrađena potpuno nova istočna tribina s 4.266 sjedećih mjesta čime kapacitet stadiona danas iznosi 13.449 sjedećih mjesta.U izgradnji istočne tribine kupovinom desetogodišnjih ulaznica su sudjelovali navijači i drugi prijatelji kluba</p>
        <div class="sec3">
            <img src="{% static 'images/Grbavica1.jpg' %}" alt="">
        </div>            
        
        
    </div>
</body>
</html>